In [3]:
import pandas as pd
import statistics
import numpy as np

# Declaration
data = pd.read_csv("shopping_trends.csv")

target_col = ['Age','Purchase Amount (USD)','Review Rating','Previous Purchases']

for dt in target_col:
    # Convert to int
    data[dt] = pd.to_numeric(data[dt], errors='coerce')
    
    # Remove NaN
    data = data.dropna(subset=[dt])

    max_val = data[dt].max()
    min_val = data[dt].min()
    range_val = max_val - min_val
    mean = round(data[dt].mean(),2)
    mode = round(statistics.mode(data[dt]),2)
    var = round(np.nanvar(data[dt],ddof=1),2)
    std = round(var ** 0.5,2)

    print(f"Max of {dt.title()} : {max_val}")
    print(f"Min of {dt.title()} : {min_val}")
    print(f"Range of {dt.title()} : {range_val}")
    print(f"Mean of {dt.title()} : {mean}")
    print(f"Mode of {dt.title()} : {mode}")
    print(f"Variance of {dt.title()} : {var}")
    print(f"Standard Deviance of {dt.title()} : {std}\n")

Max of Age : 70
Min of Age : 18
Range of Age : 52
Mean of Age : 44.07
Mode of Age : 69
Variance of Age : 231.27
Standard Deviance of Age : 15.21

Max of Purchase Amount (Usd) : 100
Min of Purchase Amount (Usd) : 20
Range of Purchase Amount (Usd) : 80
Mean of Purchase Amount (Usd) : 59.76
Mode of Purchase Amount (Usd) : 36
Variance of Purchase Amount (Usd) : 561.0
Standard Deviance of Purchase Amount (Usd) : 23.69

Max of Review Rating : 5.0
Min of Review Rating : 2.5
Range of Review Rating : 2.5
Mean of Review Rating : 3.75
Mode of Review Rating : 3.4
Variance of Review Rating : 0.51
Standard Deviance of Review Rating : 0.71

Max of Previous Purchases : 50
Min of Previous Purchases : 1
Range of Previous Purchases : 49
Mean of Previous Purchases : 25.35
Mode of Previous Purchases : 31
Variance of Previous Purchases : 208.72
Standard Deviance of Previous Purchases : 14.45

In [30]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Purchase Ammount and Age for each states
data = pd.read_csv("shopping_trends.csv")

location = data['Location'].unique().tolist()

results = []

for dt in location:
    location_data = data[data['Location'] == dt]

    total_purchase = location_data['Purchase Amount (USD)'].count()
    min_amount = location_data['Purchase Amount (USD)'].min()
    max_amount = location_data['Purchase Amount (USD)'].max()
    avg_amount = location_data['Purchase Amount (USD)'].mean()
    min_age = location_data['Age'].min()
    max_age = location_data['Age'].max()
    avg_age = location_data['Age'].mean()
    
    results.append({
        'Location': dt,
        'Total Purchased': total_purchase,
        'Min Purchase Amount': min_amount,
        'Max Purchase Amount': max_amount,
        'Average Purchase Amount': round(avg_amount,2),
        'Min Customer Age': min_age,
        'Max Customer Age': max_age,
        'Average Customer Age': round(avg_age,2)
    })

res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Average Purchase Amount', ascending=False)
res_df

,Location,Total Purchased,Min Purchase Amount,Max Purchase Amount,Average Purchase Amount,Min Customer Age,Max Customer Age,Average Customer Age
29,Alaska,72,20,99,67.60,18,70,43.00
38,Pennsylvania,74,23,100,66.57,18,70,42.97
28,Arizona,65,22,100,66.55,19,70,45.28
8,West Virginia,81,24,100,63.88,18,70,42.54
22,Nevada,87,20,100,63.38,18,70,43.61
47,Washington,73,20,100,63.33,19,70,44.40
25,North Dakota,83,20,100,62.89,18,70,43.77
41,Virginia,77,22,100,62.88,18,70,41.61
40,Utah,71,20,100,62.58,18,70,43.31
49,Michigan,73,20,100,62.10,18,70,42.10
30,Tennessee,77,20,100,61.97,18,68,44.05
35,New Mexico,81,21,100,61.90,21,69,44.02
3,Rhode Island,63,20,99,61.44,19,69,46.48
21,Texas,77,21,99,61.19,18,70,42.74
10,Arkansas,79,22,99,61.11,18,70,44.10
26,Illinois,92,20,99,61.05,18,70,43.28
16,Mississippi,80,21,99,61.04,18,69,43.26
2,Massachusetts,72,20,99,60.89,18,70,45.21
44,Iowa,69,20,100,60.88,18,65,40.17
17,North Carolina,78,21,99,60.79,18,70,45.73
5,Wyoming,71,20,99,60.69,19,69,42.51
45,South Dakota,70,20,100,60.51,18,70,44.01
14,New York,87,20,98,60.43,18,70,43.93
31,Ohio,77,22,100,60.38,18,70,46.53
6,Montana,96,20,100,60.25,18,70,43.82
37,Idaho,93,20,100,60.08,18,68,43.30
43,Nebraska,87,21,99,59.45,18,70,42.67
13,New Hampshire,71,23,100,59.42,18,69,44.32
15,Alabama,89,20,100,59.11,18,68,44.31
18,California,95,20,100,59.00,19,70,42.66
27,Indiana,79,21,97,58.92,20,70,48.05
42,Georgia,79,20,97,58.80,18,69,43.77
36,South Carolina,76,22,100,58.41,18,69,47.50
19,Oklahoma,75,20,100,58.35,18,70,43.88
9,Missouri,81,22,100,57.91,18,70,45.74
11,Hawaii,65,21,100,57.72,20,68,42.69
7,Louisiana,84,21,99,57.71,18,70,48.15
4,Oregon,74,20,100,57.34,18,70,43.55
34,Vermont,85,20,99,57.18,18,70,42.60
1,Maine,77,20,100,56.99,18,69,41.94
32,New Jersey,67,20,99,56.75,18,70,45.03
46,Minnesota,88,20,99,56.56,18,70,45.48
24,Colorado,75,20,99,56.29,18,70,44.15
48,Wisconsin,75,20,100,55.95,18,70,45.97
20,Florida,68,20,98,55.85,18,70,42.32
33,Maryland,86,20,100,55.76,18,69,46.90
0,Kentucky,79,20,100,55.72,18,70,42.27
12,Delaware,86,20,100,55.33,21,68,43.07
23,Kansas,63,20,98,54.56,18,70,43.08
39,Connecticut,78,20,98,54.18,20,70,47.32

In [42]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Category, Size, Color, and Payment Method for each states
data = pd.read_csv("shopping_trends.csv")

location = data['Location'].unique().tolist()

results = []

for dt in location:
    location_data = data[data['Location'] == dt]
    
    total_purchase = location_data['Purchase Amount (USD)'].count()
    
    # Most and least size
    size_counts = location_data['Size'].value_counts()
    most_size = size_counts.idxmax() if not size_counts.empty else None
    least_size = size_counts.idxmin() if not size_counts.empty else None
    
    # Most and least category
    category_counts = location_data['Category'].value_counts()
    most_category = category_counts.idxmax() if not category_counts.empty else None
    least_category = category_counts.idxmin() if not category_counts.empty else None
    
    # Most and least color
    color_counts = location_data['Color'].value_counts()
    most_color = color_counts.idxmax() if not color_counts.empty else None
    least_color = color_counts.idxmin() if not color_counts.empty else None

    # Most and least payment method
    payment_counts = location_data['Payment Method'].value_counts()
    most_payment = payment_counts.idxmax() if not payment_counts.empty else None
    least_payment = payment_counts.idxmin() if not payment_counts.empty else None
    
    results.append({
        'Location': dt,
        'Total Purchased': total_purchase,
        'Most Size': most_size,
        'Least Size': least_size,
        'Most Category': most_category,
        'Least Category': least_category,
        'Most Color': most_color,
        'Least Color': least_color,
        'Most Payment': most_payment,
        'Least Payment': least_payment
    })

res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Total Purchased', ascending=False)
res_df

,Location,Total Purchased,Most Size,Least Size,Most Category,Least Category,Most Color,Least Color,Most Payment,Least Payment
6,Montana,96,M,XL,Clothing,Outerwear,Gray,Blue,Debit Card,Venmo
18,California,95,M,S,Clothing,Outerwear,Turquoise,White,Cash,PayPal
37,Idaho,93,M,XL,Clothing,Outerwear,Black,Charcoal,PayPal,Credit Card
26,Illinois,92,M,XL,Clothing,Outerwear,Olive,White,Debit Card,Venmo
15,Alabama,89,M,XL,Clothing,Outerwear,Magenta,Lavender,Bank Transfer,Debit Card
46,Minnesota,88,M,XL,Clothing,Outerwear,Purple,Indigo,Cash,Bank Transfer
43,Nebraska,87,M,S,Accessories,Outerwear,Turquoise,Beige,Venmo,Credit Card
14,New York,87,M,XL,Clothing,Outerwear,Teal,Olive,Cash,PayPal
22,Nevada,87,M,XL,Clothing,Outerwear,Orange,Turquoise,Bank Transfer,PayPal
33,Maryland,86,M,S,Clothing,Outerwear,Olive,Blue,Cash,Bank Transfer
12,Delaware,86,M,XL,Clothing,Outerwear,Silver,Green,Venmo,Bank Transfer
34,Vermont,85,M,XL,Clothing,Outerwear,Gray,Peach,Venmo,Bank Transfer
7,Louisiana,84,M,XL,Clothing,Outerwear,Turquoise,Gray,Debit Card,Cash
25,North Dakota,83,M,S,Clothing,Footwear,White,Lavender,Debit Card,PayPal
9,Missouri,81,M,XL,Clothing,Outerwear,Brown,Purple,PayPal,Cash
8,West Virginia,81,M,XL,Accessories,Outerwear,Violet,Brown,Cash,Debit Card
35,New Mexico,81,M,XL,Accessories,Outerwear,Olive,Blue,Cash,PayPal
16,Mississippi,80,M,XL,Clothing,Outerwear,Indigo,Brown,Credit Card,Cash
27,Indiana,79,M,XL,Clothing,Outerwear,Cyan,Peach,PayPal,Cash
42,Georgia,79,M,XL,Clothing,Outerwear,Olive,Violet,Venmo,Debit Card
0,Kentucky,79,M,XL,Accessories,Footwear,Yellow,Indigo,Credit Card,Venmo
10,Arkansas,79,M,XL,Clothing,Outerwear,Black,Gray,Debit Card,Venmo
17,North Carolina,78,M,XL,Clothing,Outerwear,Magenta,Brown,Debit Card,Bank Transfer
39,Connecticut,78,M,XL,Clothing,Outerwear,Yellow,Blue,Venmo,PayPal
41,Virginia,77,M,S,Clothing,Outerwear,Turquoise,Gray,PayPal,Bank Transfer
31,Ohio,77,M,XL,Clothing,Outerwear,Green,Olive,Bank Transfer,Debit Card
30,Tennessee,77,M,XL,Clothing,Outerwear,Cyan,Green,Credit Card,Bank Transfer
21,Texas,77,M,S,Clothing,Outerwear,Red,Orange,Bank Transfer,Credit Card
1,Maine,77,M,XL,Clothing,Outerwear,Yellow,Maroon,PayPal,Cash
36,South Carolina,76,M,XL,Clothing,Outerwear,Teal,Purple,Debit Card,Cash
24,Colorado,75,M,XL,Clothing,Outerwear,Turquoise,Gray,Cash,Credit Card
19,Oklahoma,75,M,XL,Clothing,Footwear,Charcoal,Beige,Bank Transfer,Venmo
48,Wisconsin,75,M,XL,Clothing,Outerwear,Silver,Gold,Bank Transfer,Credit Card
4,Oregon,74,M,XL,Clothing,Outerwear,Beige,Gray,Credit Card,Bank Transfer
38,Pennsylvania,74,M,XL,Clothing,Outerwear,Blue,Cyan,Venmo,Debit Card
47,Washington,73,M,XL,Clothing,Outerwear,Silver,Magenta,Credit Card,Bank Transfer
49,Michigan,73,M,XL,Clothing,Outerwear,Magenta,Red,Bank Transfer,Debit Card
29,Alaska,72,M,XL,Clothing,Outerwear,Green,Silver,Venmo,PayPal
2,Massachusetts,72,M,XL,Clothing,Outerwear,Green,Lavender,Cash,Debit Card
5,Wyoming,71,M,XL,Clothing,Outerwear,Violet,Beige,Venmo,Cash
40,Utah,71,M,XL,Clothing,Outerwear,Green,Gray,Credit Card,Cash
13,New Hampshire,71,M,XL,Accessories,Footwear,Pink,Teal,Credit Card,Bank Transfer
45,South Dakota,70,M,XL,Clothing,Outerwear,Indigo,Brown,PayPal,Debit Card
44,Iowa,69,M,XL,Clothing,Outerwear,Peach,Violet,Credit Card,Cash
20,Florida,68,M,S,Clothing,Footwear,White,Purple,Venmo,PayPal
32,New Jersey,67,M,XL,Accessories,Outerwear,Beige,Olive,Cash,Venmo
11,Hawaii,65,M,XL,Clothing,Outerwear,Green,Peach,PayPal,Debit Card
28,Arizona,65,M,XL,Clothing,Footwear,Yellow,Violet,Debit Card,PayPal
23,Kansas,63,M,S,Clothing,Outerwear,White,Brown,PayPal,Debit Card
3,Rhode Island,63,M,S,Clothing,Outerwear,Teal,Magenta,Bank Transfer,PayPal

In [36]:
import pandas as pd
import statistics
import numpy as np

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic for Average Age, Purchase Amount, and Review Rating for Every Item Purchased, Location, Season, and Category
data = pd.read_csv("shopping_trends.csv")

# Factors
context = ['Age', 'Purchase Amount (USD)', 'Review Rating']

# Target Col 
target_col = ['Item Purchased','Location','Season','Category']

for dt in target_col:
    # Group by Target Column and calculate average
    stats = data.groupby(dt)[context].mean().round(2).sort_values(by='Purchase Amount (USD)',ascending=False)
    
    # Define Average Age Status Based on Average Age
    average_age_all = data['Age'].mean().round(2)
    def define_age_status(age):
        if age >= average_age_all:
            return "Normal"
        else:
            return "Below Average"
    
    stats['Age Status'] = stats['Age'].apply(define_age_status)
    
    # Define Average Purchase Amount (USD) Status Based on Average Purchase Amount (USD)
    average_purchase_all = data['Purchase Amount (USD)'].mean().round(2)
    def define_purchase_status(purchase):
        if purchase >= average_purchase_all:
            return "Normal"
        else:
            return "Below Average"
    
    stats['Purchase (USD) Status'] = stats['Purchase Amount (USD)'].apply(define_purchase_status)
    
    # Define Average Review Rating Status Based on Average Review Rating
    average_rating_all = data['Review Rating'].mean().round(2)
    def define_rating_status(rating):
        if rating >= average_rating_all:
            return "Normal"
        else:
            return "Below Average"
    
    stats['Rating Status'] = stats['Review Rating'].apply(define_rating_status)
    
    # Rename column
    stats.rename(columns={'Purchase Amount (USD)': 'Purchase (USD)'}, inplace=True)
    stats.rename(columns={'Review Rating': 'Rating'}, inplace=True)
    
    # Reorder columns
    stats = stats[['Age', 'Age Status', 'Purchase (USD)', 'Purchase (USD) Status', 'Rating', 'Rating Status']]
    
    print(f"Average Age, Purchase Amount, and Review Rating for Every {dt}\n")
    print(f"Average Age : {average_age_all}\n")
    print(f"Average Purchase Amount : {average_purchase_all}\n")
    print(f"Average Review Rating : {average_rating_all}\n")
    print(stats)
    print("\n================================================================================================\n")

Average Age, Purchase Amount, and Review Rating for Every Item Purchased

Average Age : 44.07

Average Purchase Amount : 59.76

Average Review Rating : 3.75

                  Age     Age Status  Purchase (USD) Purchase (USD) Status  Rating  Rating Status
Item Purchased
T-shirt         42.84  Below Average           62.91                Normal    3.78         Normal
Boots           44.85         Normal           62.62                Normal    3.81         Normal
Dress           44.60         Normal           62.17                Normal    3.75         Normal
Shoes           46.13         Normal           61.60                Normal    3.75         Normal
Shirt           41.99  Below Average           61.14                Normal    3.63  Below Average
Scarf           44.32         Normal           60.90                Normal    3.70  Below Average
Blouse          44.29         Normal           60.88                Normal    3.68  Below Average
Hat             43.55  Below Average           60.88                Normal    3.81         Normal
Jeans           43.73  Below Average           60.87                Normal    3.65  Below Average
Gloves          43.07  Below Average           60.55                Normal    3.86         Normal
Backpack        42.90  Below Average           60.39                Normal    3.75         Normal
Shorts          43.42  Below Average           60.08                Normal    3.71  Below Average
Sunglasses      44.80         Normal           59.93                Normal    3.74  Below Average
Belt            42.44  Below Average           59.84                Normal    3.76         Normal
Sneakers        42.61  Below Average           59.55         Below Average    3.76         Normal
Skirt           44.28         Normal           59.51         Below Average    3.78         Normal
Pants           43.50  Below Average           59.01         Below Average    3.72  Below Average
Jewelry         46.29         Normal           58.54         Below Average    3.76         Normal
Socks           44.79         Normal           58.19         Below Average    3.75         Normal
Hoodie          44.87         Normal           58.06         Below Average    3.72  Below Average
Handbag         46.05         Normal           57.89         Below Average    3.78         Normal
Sweater         43.34  Below Average           57.70         Below Average    3.77         Normal
Coat            43.22  Below Average           57.61         Below Average    3.73  Below Average
Sandals         44.16         Normal           57.50         Below Average    3.84         Normal
Jacket          45.39         Normal           56.74         Below Average    3.76         Normal

================================================================================================

Average Age, Purchase Amount, and Review Rating for Every Location

Average Age : 44.07

Average Purchase Amount : 59.76

Average Review Rating : 3.75

                  Age     Age Status  Purchase (USD) Purchase (USD) Status  Rating  Rating Status
Location
Alaska          43.00  Below Average           67.60                Normal    3.80         Normal
Pennsylvania    42.97  Below Average           66.57                Normal    3.78         Normal
Arizona         45.28         Normal           66.55                Normal    3.69  Below Average
West Virginia   42.54  Below Average           63.88                Normal    3.58  Below Average
Nevada          43.61  Below Average           63.38                Normal    3.71  Below Average
Washington      44.40         Normal           63.33                Normal    3.81         Normal
North Dakota    43.77  Below Average           62.89                Normal    3.75         Normal
Virginia        41.61  Below Average           62.88                Normal    3.71  Below Average
Utah            43.31  Below Average           62.58                Normal    3.68  Below Average
Michigan        42.10  Below Average           62.10                Normal    3.82         Normal
Tennessee       44.05  Below Average           61.97                Normal    3.78         Normal
New Mexico      44.02  Below Average           61.90                Normal    3.73  Below Average
Rhode Island    46.48         Normal           61.44                Normal    3.74  Below Average
Texas           42.74  Below Average           61.19                Normal    3.91         Normal
Arkansas        44.10         Normal           61.11                Normal    3.72  Below Average
Illinois        43.28  Below Average           61.05                Normal    3.64  Below Average
Mississippi     43.26  Below Average           61.04                Normal    3.76         Normal
Massachusetts   45.21         Normal           60.89                Normal    3.72  Below Average
Iowa            40.17  Below Average           60.88                Normal    3.85         Normal
North Carolina  45.73         Normal           60.79                Normal    3.81         Normal
Wyoming         42.51  Below Average           60.69                Normal    3.69  Below Average
South Dakota    44.01  Below Average           60.51                Normal    3.68  Below Average
New York        43.93  Below Average           60.43                Normal    3.75         Normal
Ohio            46.53         Normal           60.38                Normal    3.81         Normal
Montana         43.82  Below Average           60.25                Normal    3.81         Normal
Idaho           43.30  Below Average           60.08                Normal    3.78         Normal
Nebraska        42.67  Below Average           59.45         Below Average    3.73  Below Average
New Hampshire   44.32         Normal           59.42         Below Average    3.61  Below Average
Alabama         44.31         Normal           59.11         Below Average    3.78         Normal
California      42.66  Below Average           59.00         Below Average    3.83         Normal
Indiana         48.05         Normal           58.92         Below Average    3.81         Normal
Georgia         43.77  Below Average           58.80         Below Average    3.62  Below Average
South Carolina  47.50         Normal           58.41         Below Average    3.76         Normal
Oklahoma        43.88  Below Average           58.35         Below Average    3.61  Below Average
Missouri        45.74         Normal           57.91         Below Average    3.75         Normal
Hawaii          42.69  Below Average           57.72         Below Average    3.67  Below Average
Louisiana       48.15         Normal           57.71         Below Average    3.77         Normal
Oregon          43.55  Below Average           57.34         Below Average    3.76         Normal
Vermont         42.60  Below Average           57.18         Below Average    3.71  Below Average
Maine           41.94  Below Average           56.99         Below Average    3.84         Normal
New Jersey      45.03         Normal           56.75         Below Average    3.77         Normal
Minnesota       45.48         Normal           56.56         Below Average    3.75         Normal
Colorado        44.15         Normal           56.29         Below Average    3.73  Below Average
Wisconsin       45.97         Normal           55.95         Below Average    3.89         Normal
Florida         42.32  Below Average           55.85         Below Average    3.68  Below Average
Maryland        46.90         Normal           55.76         Below Average    3.81         Normal
Kentucky        42.27  Below Average           55.72         Below Average    3.75         Normal
Delaware        43.07  Below Average           55.33         Below Average    3.80         Normal
Kansas          43.08  Below Average           54.56         Below Average    3.80         Normal
Connecticut     47.32         Normal           54.18         Below Average    3.69  Below Average

================================================================================================

Average Age, Purchase Amount, and Review Rating for Every Season

Average Age : 44.07

Average Purchase Amount : 59.76

Average Review Rating : 3.75

          Age     Age Status  Purchase (USD) Purchase (USD) Status  Rating  Rating Status
Season
Fall    44.39         Normal           61.56                Normal    3.73  Below Average
Winter  43.31  Below Average           60.36                Normal    3.75         Normal
Spring  44.58         Normal           58.74         Below Average    3.79         Normal
Summer  43.97  Below Average           58.41         Below Average    3.73  Below Average

================================================================================================

Average Age, Purchase Amount, and Review Rating for Every Category

Average Age : 44.07

Average Purchase Amount : 59.76

Average Review Rating : 3.75

               Age     Age Status  Purchase (USD) Purchase (USD) Status  Rating  Rating Status
Category
Footwear     44.44         Normal           60.26                Normal    3.79         Normal
Clothing     43.78  Below Average           60.03                Normal    3.72  Below Average
Accessories  44.22         Normal           59.84                Normal    3.77         Normal
Outerwear    44.31         Normal           57.17         Below Average    3.75         Normal

================================================================================================

In [58]:
import pandas as pd
import statistics
import numpy as np

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic for Total Shipping Type, Season, Category for Each Location
data = pd.read_csv("shopping_trends.csv")

# Target Col 
target_col = ['Shipping Type','Season','Category']

for dt in target_col:    
    shipping_counts = data.groupby('Location')[dt].value_counts().unstack(fill_value=0)
    print(f"Total {dt} for Each Location\n")
    print(shipping_counts)
    print("\n")

Total Shipping Type for Each Location

Shipping Type   2-Day Shipping  Express  Free Shipping  Next Day Air  Standard  Store Pickup
Location
Alabama                     16       20              9            17         8            19
Alaska                      13       13             14             8        17             7
Arizona                     10       12             10            11        10            12
Arkansas                    12       16             14            17        11             9
California                  14       16             16            20        16            13
Colorado                    12        4             13            14        14            18
Connecticut                 16       11              6            18        12            15
Delaware                    14       14             20            16         9            13
Florida                     10       14             17             8        13             6
Georgia                     13       13             18             9         8            18
Hawaii                       7       13             10            11        10            14
Idaho                       15       14             16            16        14            18
Illinois                    13       17             14             9        15            24
Indiana                     13       14             12            10        10            20
Iowa                         7       14             10             9        12            17
Kansas                       9       12             12            11        10             9
Kentucky                     9       20             12            12        13            13
Louisiana                   12       13             14            20        14            11
Maine                        9       17             20             8        13            10
Maryland                    18       13             15            15        18             7
Massachusetts               14        6              8            19        14            11
Michigan                    12       10             15             9        16            11
Minnesota                   15       15             13            15        16            14
Mississippi                 16       10             15            13        11            15
Missouri                     8       16             13            13        19            12
Montana                     19        7             22            15        17            16
Nebraska                    12       16             12            12        16            19
Nevada                      15       11             17            18        16            10
New Hampshire               12       13             11            11         9            15
New Jersey                  11       12             10            11        12            11
New Mexico                  12       13             15            16        12            13
New York                    14       13             20            15        15            10
North Carolina              14        8             15            13        13            15
North Dakota                14       19             18             9        12            11
Ohio                        18        7             13            11        11            17
Oklahoma                     5       17              8            14        13            18
Oregon                      19       12             11            13        12             7
Pennsylvania                14       12             15            14        11             8
Rhode Island                 7       12              7            11        14            12
South Carolina              13       14             12            14        14             9
South Dakota                15       14              7            11        12            11
Tennessee                   17       10             12            12        13            13
Texas                        7       12             19            11        12            16
Utah                         8       10             16            15        15             7
Vermont                     17       11             13            14        20            10
Virginia                     9       17             14             9        17            11
Washington                  13       12             14            13         9            12
West Virginia               15       13             15            14         9            15
Wisconsin                   12       11             13            12        16            11
Wyoming                      8       13             10            12        11            17


Total Season for Each Location

Season          Fall  Spring  Summer  Winter
Location
Alabama           24      24      24      17
Alaska            15      27      12      18
Arizona           18      16      18      13
Arkansas          19      24      20      16
California        27      23      23      22
Colorado          12      22      18      23
Connecticut       20      21      15      22
Delaware          24      22      20      20
Florida           20      13      17      18
Georgia           18      20      18      23
Hawaii            20      14      15      16
Idaho             25      26      26      16
Illinois          22      25      23      22
Indiana           16      23      18      22
Iowa              17      14      18      20
Kansas            14      20      17      12
Kentucky          17      25      12      25
Louisiana         19      24      16      25
Maine             16      22      13      26
Maryland          20      26      24      16
Massachusetts     12      18      22      20
Michigan          22      17      21      13
Minnesota         25      23      19      21
Mississippi       20      15      20      25
Missouri          25      23      19      14
Montana           20      25      26      25
Nebraska          22      24      22      19
Nevada            17      28      27      15
New Hampshire     19      19      12      21
New Jersey        14      23      20      10
New Mexico        21      19      22      19
New York          25      16      21      25
North Carolina    17      27      17      17
North Dakota      21      17      27      18
Ohio              23      10      21      23
Oklahoma          18      16      14      27
Oregon            16      21      16      21
Pennsylvania      15      17      27      15
Rhode Island      10      17      13      23
South Carolina    27      25      15       9
South Dakota      23      15      19      13
Tennessee         20      22      18      17
Texas             26      14      19      18
Utah              24      12      18      17
Vermont           22      14      18      31
Virginia          13      17      22      25
Washington        12      24      21      16
West Virginia     21      22      17      21
Wisconsin         22      10      24      19
Wyoming           20      18      11      22


Total Category for Each Location

Category        Accessories  Clothing  Footwear  Outerwear
Location
Alabama                  25        41        15          8
Alaska                   26        33         9          4
Arizona                  20        32         6          7
Arkansas                 26        37        10          6
California               31        47        11          6
Colorado                 24        32        12          7
Connecticut              24        32        12         10
Delaware                 28        41        14          3
Florida                  21        30         8          9
Georgia                  23        41        14          1
Hawaii                   19        29         9          8
Idaho                    29        42        12         10
Illinois                 27        46        11          8
Indiana                  25        37        10          7
Iowa                     23        23        14          9
Kansas                   17        26        14          6
Kentucky                 34        30         5         10
Louisiana                27        44        11          2
Maine                    19        34        17          7
Maryland                 27        34        17          8
Massachusetts            18        34        14          6
Michigan                 19        31        15          8
Minnesota                25        42        17          4
Mississippi              32        33         9          6
Missouri                 27        37        12          5
Montana                  28        45        12         11
Nebraska                 37        30        16          4
Nevada                   32        38        12          5
New Hampshire            29        28         7          7
New Jersey               26        25        10          6
New Mexico               29        29        14          9
New York                 29        36        13          9
North Carolina           25        35        13          5
North Dakota             24        34        11         14
Ohio                     22        34        18          3
Oklahoma                 18        38         9         10
Oregon                   18        37        13          6
Pennsylvania             24        35        11          4
Rhode Island             17        35         9          2
South Carolina           22        36        12          6
South Dakota             25        28         9          8
Tennessee                27        34        11          5
Texas                    27        29        15          6
Utah                     21        33        12          5
Vermont                  20        43        15          7
Virginia                 24        35        14          4
Washington               23        35        10          5
West Virginia            31        29        12          9
Wisconsin                23        37        12          3
Wyoming                  23        31        11          6