In [3]:
import pandas as pd
import statistics
import numpy as np

# Declaration
data = pd.read_csv("shopping_trends.csv")

target_col = ['Age','Purchase Amount (USD)','Review Rating','Previous Purchases']

for dt in target_col:
    # Convert to int
    data[dt] = pd.to_numeric(data[dt], errors='coerce')
    
    # Remove NaN
    data = data.dropna(subset=[dt])

    max_val = data[dt].max()
    min_val = data[dt].min()
    range_val = max_val - min_val
    mean = round(data[dt].mean(),2)
    mode = round(statistics.mode(data[dt]),2)
    var = round(np.nanvar(data[dt],ddof=1),2)
    std = round(var ** 0.5,2)

    print(f"Max of {dt.title()} : {max_val}")
    print(f"Min of {dt.title()} : {min_val}")
    print(f"Range of {dt.title()} : {range_val}")
    print(f"Mean of {dt.title()} : {mean}")
    print(f"Mode of {dt.title()} : {mode}")
    print(f"Variance of {dt.title()} : {var}")
    print(f"Standard Deviance of {dt.title()} : {std}\n")

Max of Age : 70
Min of Age : 18
Range of Age : 52
Mean of Age : 44.07
Mode of Age : 69
Variance of Age : 231.27
Standard Deviance of Age : 15.21

Max of Purchase Amount (Usd) : 100
Min of Purchase Amount (Usd) : 20
Range of Purchase Amount (Usd) : 80
Mean of Purchase Amount (Usd) : 59.76
Mode of Purchase Amount (Usd) : 36
Variance of Purchase Amount (Usd) : 561.0
Standard Deviance of Purchase Amount (Usd) : 23.69

Max of Review Rating : 5.0
Min of Review Rating : 2.5
Range of Review Rating : 2.5
Mean of Review Rating : 3.75
Mode of Review Rating : 3.4
Variance of Review Rating : 0.51
Standard Deviance of Review Rating : 0.71

Max of Previous Purchases : 50
Min of Previous Purchases : 1
Range of Previous Purchases : 49
Mean of Previous Purchases : 25.35
Mode of Previous Purchases : 31
Variance of Previous Purchases : 208.72
Standard Deviance of Previous Purchases : 14.45

In [30]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Analyzed Purchase Ammount and Age for each states
data = pd.read_csv("shopping_trends.csv")

location = data['Location'].unique().tolist()

results = []

for dt in location:
    location_data = data[data['Location'] == dt]

    total_purchase = location_data['Purchase Amount (USD)'].count()
    min_amount = location_data['Purchase Amount (USD)'].min()
    max_amount = location_data['Purchase Amount (USD)'].max()
    avg_amount = location_data['Purchase Amount (USD)'].mean()
    min_age = location_data['Age'].min()
    max_age = location_data['Age'].max()
    avg_age = location_data['Age'].mean()
    
    results.append({
        'Location': dt,
        'Total Purchased': total_purchase,
        'Min Purchase Amount': min_amount,
        'Max Purchase Amount': max_amount,
        'Average Purchase Amount': round(avg_amount,2),
        'Min Customer Age': min_age,
        'Max Customer Age': max_age,
        'Average Customer Age': round(avg_age,2)
    })

res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Average Purchase Amount', ascending=False)
res_df

,Location,Total Purchased,Min Purchase Amount,Max Purchase Amount,Average Purchase Amount,Min Customer Age,Max Customer Age,Average Customer Age
29,Alaska,72,20,99,67.60,18,70,43.00
38,Pennsylvania,74,23,100,66.57,18,70,42.97
28,Arizona,65,22,100,66.55,19,70,45.28
8,West Virginia,81,24,100,63.88,18,70,42.54
22,Nevada,87,20,100,63.38,18,70,43.61
47,Washington,73,20,100,63.33,19,70,44.40
25,North Dakota,83,20,100,62.89,18,70,43.77
41,Virginia,77,22,100,62.88,18,70,41.61
40,Utah,71,20,100,62.58,18,70,43.31
49,Michigan,73,20,100,62.10,18,70,42.10
30,Tennessee,77,20,100,61.97,18,68,44.05
35,New Mexico,81,21,100,61.90,21,69,44.02
3,Rhode Island,63,20,99,61.44,19,69,46.48
21,Texas,77,21,99,61.19,18,70,42.74
10,Arkansas,79,22,99,61.11,18,70,44.10
26,Illinois,92,20,99,61.05,18,70,43.28
16,Mississippi,80,21,99,61.04,18,69,43.26
2,Massachusetts,72,20,99,60.89,18,70,45.21
44,Iowa,69,20,100,60.88,18,65,40.17
17,North Carolina,78,21,99,60.79,18,70,45.73
5,Wyoming,71,20,99,60.69,19,69,42.51
45,South Dakota,70,20,100,60.51,18,70,44.01
14,New York,87,20,98,60.43,18,70,43.93
31,Ohio,77,22,100,60.38,18,70,46.53
6,Montana,96,20,100,60.25,18,70,43.82
37,Idaho,93,20,100,60.08,18,68,43.30
43,Nebraska,87,21,99,59.45,18,70,42.67
13,New Hampshire,71,23,100,59.42,18,69,44.32
15,Alabama,89,20,100,59.11,18,68,44.31
18,California,95,20,100,59.00,19,70,42.66
27,Indiana,79,21,97,58.92,20,70,48.05
42,Georgia,79,20,97,58.80,18,69,43.77
36,South Carolina,76,22,100,58.41,18,69,47.50
19,Oklahoma,75,20,100,58.35,18,70,43.88
9,Missouri,81,22,100,57.91,18,70,45.74
11,Hawaii,65,21,100,57.72,20,68,42.69
7,Louisiana,84,21,99,57.71,18,70,48.15
4,Oregon,74,20,100,57.34,18,70,43.55
34,Vermont,85,20,99,57.18,18,70,42.60
1,Maine,77,20,100,56.99,18,69,41.94
32,New Jersey,67,20,99,56.75,18,70,45.03
46,Minnesota,88,20,99,56.56,18,70,45.48
24,Colorado,75,20,99,56.29,18,70,44.15
48,Wisconsin,75,20,100,55.95,18,70,45.97
20,Florida,68,20,98,55.85,18,70,42.32
33,Maryland,86,20,100,55.76,18,69,46.90
0,Kentucky,79,20,100,55.72,18,70,42.27
12,Delaware,86,20,100,55.33,21,68,43.07
23,Kansas,63,20,98,54.56,18,70,43.08
39,Connecticut,78,20,98,54.18,20,70,47.32